* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// responsive breakpoints
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;

// media query
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

body {
    overflow: hidden;
}

// fonts
$heading: "Montserrat", sans-serif;

// common style
.centerF {
    display: flex;
    align-items: center;
    justify-content: center;
}
// intro section
#intro {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    .cover {
        width: 100%;
        height: 20vh;
        transform: translateX(-110vw);
        .line {
            width: 100%;
            height: 100%;
            background-color: black;
        }
    }
}

// name section
#name {
    @extend .centerF;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    .texts {
        @extend .centerF;
        flex-direction: column;
        h1 {
            font-family: $heading;
            //   font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
            font-size: calc(
                75px + (220 - 75) * ((100vw - 320px) / (1600 - 320))
            );
            line-height: calc(
                68px + (200 - 68) * ((100vw - 320px) / (1600 - 320))
            );
            .word {
                display: flex;
                flex-flow: row wrap;
                .chars {
                    display: block;
                }
            }
        }
    }
    // images
    @at-root #image {
        width: 100vw;
        height: 100%;
        margin-top: -21vh;
        // @extend .centerF;
        .img__container {
            text-align: center;
            margin: 0px auto 0px auto;
            width: 25px;
            height: 25px;
            background-color: black;
            animation: 0.5s blink linear infinite alternate both;
            img {
                width: 0%;
                display: none;
            }
        }
        // blink animation 
        @keyframes blink {
            from {
                background-color: black;
            }
            to {
                background-color: transparent;
            }
        }
    }
}
