* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// google fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

$ibm: "IBM Plex Sans", sans-serif;
$rubik: "Rubik", sans-serif;
$cormo: "Cormorant Garamond", serif;
$project: 'Hina Mincho', serif;;

body {
    // overflow-x: hidden;
    font-family: $rubik;
    overflow-x: hidden;
}
// responsive
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1800px;

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

.full {
    width: 100%;
    height: 100%;
}

#main__container {
    width: 100vw;
    height: 100vh;
}

@mixin fSize($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit(
                            $max-font-size - $min-font-size
                        )} *
                        (
                            (100vw - #{$min-vw}) / #{strip-unit(
                                    $max-vw - $min-vw
                                )}
                        )
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

.sm__heading {
    font-size: calc(70px + (350 - 70) * ((100vw - 300px) / (1900 - 300)));
    line-height: calc(50px + (300 - 50) * ((100vw - 300px) / (1900 - 300)));
    font-family: $ibm;
}

.container {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.6s;
    @include resp($xs) {
        max-width: 540px;
        margin: 0 auto;
    }
    @include resp($sm) {
        max-width: 720px;
    }
    @include resp($md) {
        max-width: 960px;
    }
    @include resp($lg) {
        max-width: 1140px;
    }
    @include resp($xl) {
        max-width: 1320px;
    }
    @include resp($xxl) {
        max-width: 1700px;
    }
}

.char {
    display: inline-block;
}

#home {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5000;
    .container {
        .round-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @extend .full;
            width: 80%;
            margin: 0 auto;
            .round {
                width: 75px;
                height: 75px;
                background-color: white;
                border-radius: 50%;
            }
        }
    }
}

// intro section
#intro {
    width: 100%;
    height: 100vh;
    .container__wrap {
        display: flex;
        flex-flow: column nowrap;
        @extend .full;
        @include resp($lg) {
            justify-content: center;
        }
    }
    // simple container
    .container {
        height: 100vh;
        display: grid;
        align-items: center;
        padding: 0;
        width: 100%;
        @media screen and (max-width: 992px) {
            max-width: initial;
        }
        @include resp($md) {
            height: 65vh;
        }
        @include resp($lg) {
            height: initial;
        }

        .texts {
            position: relative;
            h1 {
                font-size: calc(
                    80px + (450 - 80) * ((100vw - 300px) / (1900 - 300))
                );
                line-height: calc(
                    70px + (370 - 70) * ((100vw - 300px) / (1900 - 300))
                );
                font-family: $ibm;
                @include resp(1600px) {
                    font-size: 23.5rem;
                    line-height: 20rem;
                }
                @include resp(1800px) {
                    font-size: 27rem;
                    line-height: 23rem;
                }
                &:nth-child(1) {
                    margin-bottom: 20px;
                }
                text-align: center;
                @include resp($sm) {
                    text-align: left;
                }
            }
            .word {
                display: inline-flex;
            }
        }
    }
    // img container

    .img__wrap {
        // text-align: center;
        margin-top: 45px;
        // width: 100vw;
        width: 100%;
        @include resp($md) {
            margin-top: 0px;
        }
        @include resp($md) {
            width: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            text-align: right;
        }
        img {
            width: 23.5%;
            @include resp($sm) {
                display: inline-block;
            }
            @include resp($md) {
                width: 20%;
            }
            @include resp($lg) {
                width: 22%;
            }
        }
    }
}

// about me
#whoAmI {
    width: 100%;
    min-height: 100vh;
    // padding-top: 120px;
    padding-bottom: 50px;
    @media screen and (min-width: 425px) {
        padding-top: 25vw;
    }
    @include resp(500px) {
        padding-top: 200px;
    }
    @include resp(768px) {
        padding-top: 600px;
        padding-bottom: 230px;
    }
    @include resp($md) {
        padding-top: 530px;
    }
    @include resp($lg) {
        padding-top: 630px;
    }
    @include resp(1400px) {
        padding-top: 690px;
    }
    @include resp(1600px) {
        padding-top: 770px;
    }
    @include resp(1800px) {
        padding-top: 830px;
    }
    .container {
        .article {
            // min-height: 100vh;
            h3 {
                font-family: $cormo;
                font-size: calc(
                    35px + (160 - 35) * ((100vw - 300px) / (1900 - 300))
                );
                @include resp($sm) {
                    font-size: 70px;
                }
                @include resp(1900px) {
                    font-size: 165px;
                }
                .word {
                    display: inline-flex;
                }
            }
            .name {
                font-size: 1rem;
                position: relative;
                margin-top: 40px;
                @include resp(768px) {
                    font-size: calc(
                        16px + (50 - 16) * ((100vw - 300px) / (1900 - 300))
                    );
                }
                @include resp(1800px) {
                    margin-top: 65px;
                }
                // &:before {
                //     content: "";
                //     position: absolute;
                //     width: 100%;
                //     height: 135%;
                //     background-color: white;
                // }
            }
        }
        .articleTwo {
            padding-top: 125px;
            @include resp($sm) {
                padding-top: 175px;
            }
            @include resp($md) {
                padding-top: 140px;
            }
            @include resp($xl) {
                padding-top: 200px;
            }
        }
    }
}

// skills section
#skills {
    padding-top: 75px;
    padding-bottom: 75px;
    @include resp($sm) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container {
        .texts {
            padding-bottom: 75px;
            h1 {
                @extend .sm__heading;
                text-align: center;
            }
        }
        // round wrapper
    }
    // round wrapper
    .round__wrapper {
        width: 100%;
        padding-top: 50px;
        @include resp($sm) {
            padding-top: 80px;
        }
        @include resp(1400px) {
            padding-top: 120px;
        }
        .rounds {
            padding: 15px 0px;
            background-color: black;
            display: flex;
            
            h1 {
                font-family: $cormo;
                font-size: calc(
                    20px + (40 - 20) * ((100vw - 300px) / (1900 - 300))
                );
                color: white;
                width: 410px;
                letter-spacing: 3px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                .word {
                    display: flex;
                    .char {
                        display: flex;
                    }
                }
                .whitespace {
                    padding: 0px 4px;
                }
            }
        }
    }

    // skills image
    #skill__img {
        padding-top: 50px;
        #skill__list {
            // display: none;
            .pop {
                padding: 4px 8px;
                border-radius: 5px;
                border: 2px solid #ddd;
                text-transform: capitalize;
                background-color: white;
                font-size: 0.7rem;
                display: none;
                opacity: 0;
                @include resp(600px) {
                    font-size: 0.95rem;
                }
                @include resp($sm) {
                    font-size: 1rem;
                    padding: 6px 10px;
                }
                @include resp($md) {
                    font-size: 1.1rem;
                }
                @include resp($lg) {
                    font-size: 1.2rem;
                    padding: 8px 12px;
                }
                @include resp($xl) {
                    font-size: 1.25rem;
                }
                @include resp($xxl) {
                    font-size: 1.3rem;
                    padding: 8px 15px;
                }
            }
        }

        // svg image
        #svg {
            width: 92%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            .background {
                fill: #ddd;
            }
            #white {
                transform: translateY(-13px);
            }
        }
    }
}

#intro .img__container {
    height: 250px;
    .img__wrap {
        width: 100%;
        text-align: right;
        img {
            width: 16.5%;
        }
    }
}

// new style
.container__wrap {
    justify-content: center;
    .container {
        height: 85vh;
    }
}

// works
#works {
    padding-top: 75px;
    @include resp($xxl) {
        padding-top: 130px;
    }
    .container {
        .texts {
            h1 {
                @extend .sm__heading;
                text-align: center;
            }
        }
    }
    // works list 
    .works__list {
        list-style: none;
        padding-top: 100px;
        .links {
            padding: 15px 0px;
            position: relative;
            a {
                text-decoration: none;
                // text-transform: capitalize;
                font-family: $project;
                font-size: 2.4rem;
                line-height: 2rem;
                color: black;
                display: inline-block;
            }
        }
    }
    // intro
    .intro {
        margin-top: 40px;
        .project__list {
            list-style: none;
            li {
                padding: 20px 10px;
                font-size: $cormo;
                text-transform: capitalize;
                color: rgb(0, 0, 0);
                mix-blend-mode: difference;
            }
        }
    }
}

// contact
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
    @include resp($lg) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @include resp($xxl) {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .container {
        .texts {
            h1 {
                @extend .sm__heading;
            }
        }
    }
    .list {
        display: flex;
        flex-flow: column wrap;
        padding-top: 80px;
        div {
            width: 100%;
            padding: 8px;
            background-color: #484848;
            position: relative;
            a {
                text-transform: capitalize;
                font-size: 1.2rem;
                text-align: left;
                text-transform: capitalize;
                text-decoration: none;
            }
        }
        .item::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: red;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
